<% provide(:title, @user.name) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1>
        <%= gravatar_for @user %>
        <%= @user.name %>
      </h1>
      <h2>
        <%= @user.instaposts.count %> posts
      </h2>
    </section>
  </aside>
  <div class="card" style="width: 18rem;">
  <img src=<%= @user.instaposts.image %> class="card-img-top" alt="...">
  <div class="card-body">
    <% if @user.instaposts.any? %>
      <ol class="instaposts">
        <%= render @instaposts %>
      </ol>
    <% end %>
  </div>
  </div>
</div>
