<div class="card" style="width: 18rem;">
  <img src="..." class="card-img-top" alt="...">
  <div class="card-body">
    <span id="instapost-<%= instapost.id %>"></span>
    <span class="user"><%= link_to instapost.user.name, instapost.user %></span>
    <p class="card-text"><%= instapost.content %></p>
    <span class="timestamp">
    Posted <%= time_ago_in_words(instapost.created_at) %> ago.
  </span>
  </div>
</div>